{% extends 'base.html' %}
{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col s12">
		<form method="POST">
		    {% csrf_token %}
		    {{form.as_p}}
		    <input class="btn " type="submit" value="Send"/>
		</form>
	    </div>
	</div>
    </div>
    
    
{% endblock %}
