{% extends 'base.html' %}
{% load seat_list %}
{% block content %}
<div class="container">
    <table class="centered">
        <thead>
	    <tr>
		<th>Operator Name</th>
		<th>Dep. Time</th>
		<th>Arr. Time</th>
		<th>Seats Avaliable</th>
		<th>Fare</th>
		<th></th>
	    </tr>
        </thead>
        <tbody>
	    {% for bus in bus_route_info %}
		<tr>
		    <td>
			<ul>
			    <li>Company Name: {{bus.bus_name.owned_by}}</li>
			    <li>Bus Name: {{bus.bus_name}}</li>
			</ul>
		    </td>
		    <td>{{ bus.dep_time }}</td>
		    <td>{{ bus.arr_time }}</td>
		    <td>{{ seats_av|av_count:bus.bus_name|sub:bus.bus_name.seats_capacity }}</td>
		    <td id="{{bus.bus_name}}-{{bus.fare}}">{{ bus.fare }}</td>
		</tr>
		<tr>
		    <td colspan="5">
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
				<div class="collapsible-header">View Seats</div>
				<div class="collapsible-body row">
				    <div class="col s8" id="seat-list-from">
					<form action="" method="POST">
					    {%  csrf_token %}
					    {% for seat in bus.bus_name.seats_capacity|seats %}
						{% if seat in  booked_seat|booked_or_not:bus.bus_name %}
						    <input name="{{bus.bus_name}}" type="checkbox" id="{{bus.bus_name}}{{seat}}" value="{{seat}}" disabled="disabled"/>
						    <label for="{{bus.bus_name}}{{seat}}"></label>
						{% else %}
						    <input name="{{bus.bus_name}}-{{bus.fare}}" type="checkbox" id="{{bus.bus_name}}{{seat}}" value="{{seat}}" />
						    <label for="{{bus.bus_name}}{{seat}}"></label>
						{% endif %}
					    {% endfor %}
					    <br/>
					    <input name="{{bus.bus_name}}" type="submit" class="btn" id="{{bus.bus_name}}" value="Book Seat" />
					</form>
				    </div>
				    <div class="col s4">
					<table>
					    <thead>
						<tr>
						    <td>Seats</td>
						    <td>Fare</td>
						</tr>
					    </thead>
					    <tbody class="seat-{{bus.bus_name}}">
					    </tbody>
					    
					</table>
					Total: <p class="total">0</p>
					<div class="error-select-more-four" style="display: none">You can't select more than 4 seats at a time.</div>
				    </div>
				</div>
			    </li>
			</ul>
		    </td>
		</tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
    <script>
     // loading full document
     $(document).ready(function(){
	 var total = 0;
	 // selecting all checkbox 
	 $('#seat-list-from input').on('change', function(evt){
	     if ($(this).siblings(':checked').length >= {{limit}}){
		 this.checked = false;
		 $('.error-select-more-four').css('display', 'block');
		 $('.error-select-more-four').css('color', 'red');
		 
	     }else{
		 if(this.checked){
		     var s_seat = $(this).val();
		     var s_n_fare = $(this).attr('name');
		     var s_fare = s_n_fare.split('-');
		     var s_class = '.seat-'+s_fare[0];
		     var span = "<tr class='selected_seat-"+s_seat+"'><td>"+s_seat+"</td><td>"+s_fare[1] +"</td></tr>";
		     //console.log(s_seat, s_fare[0], s_fare[1], span, s_class);
		     $(s_class).append(span);
		     if(total >= 0){
			 total = total + parseInt(s_fare[1]);
			 console.log(total);
			 console.log($('.total').text())
			 $('.total').replaceWith('<p class="total">' + total + '</p>');
		     }
		     
		 }else{
		     $(".selected_seat-"+$(this).val()).remove();
		     $('.error-select-more-four').css('display', 'none');
		 }
		 
	     }
	 });
     });
    </script>
{% endblock %}}
