{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col s10 m12">    
		<form action="" method="GET">
		    {{ form.as_p }}
		    <input class="btn" type="submit" value="Submit">
		</form>
	    </div>
	</div>
    </div>
{% endblock %}

{% block footer %}
    <script>
     $(document).ready(function() {
	 
	 $('.datepicker').pickadate({
	     min: new Date(),
	     format: 'yyyy-mm-dd'
	 });
	 $(function() {
	     $.ajax({
		 type: 'GET',
		 url: 'ajax_station',
		 success: function(response) {
		     var pointArray = response;
		     //console.log(pointArray[0].start_point)
		     var pointList = {};
		     for (var i = 0; i < pointArray.length; i++) {
			 pointList[pointArray[i].start_point] = null
			 //console.log(pointList)
		     }
		     $('input.autocomplete').autocomplete({
			 data: pointList,
			 limit: 10,
			 minLength:2
		     });
		 }
	     });
	 });
     });
    </script>
{% endblock %}
