{% extends 'base.html' %}
{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col s12">
		<h1>Thank You For Your Parchage. A Sms has been send to your mobile. Please make payment Within 30 Minutes. </h1>
	    </div>
	    <div class="ticket-info">
		<table>
		    <thead>
			<tr>
			    <td>Ticket Holder Name</td>
			    <td>Ticket Holder Phone</td>
			    <td>Ticket Holder Email</td>
			    <td>Route</td>
			    <td>Seats</td>
			    <td>Fare</td>
			    
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>{{name}}</td>
			    <td>{{phone}}</td>
			    <td>{{email}}</td>
			    <td>{{route}}</td>
			    <td>{{seats}}</td>
			    <td>{{fare}}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
    
    
{% endblock %}

