<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Bus Ticketing System.</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
	<nav>
	    <div class="nav-wrapper">
		<a href="/" class="brand-logo">Bus Ticketing System</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><a href="/">Buses</a></li>
		    <li><a href="{% url 'admin:login' %}">Login</a></li>
		    
		</ul>
	    </div>
	</nav>
	
	{% block content %}
	{% endblock %}
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   
    {% block footer %}
    {% endblock %}
</html>
